.form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    text-align: left;
    margin-left: 100px;
}

.delay-label {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

input[type="number"] {
    width: 360px;
    height: 40px;
}

.form-fieldset {
    width: 340px;
    height: 65px;
    border-radius: 4px;
    stroke-width: 1px;
    stroke: #808080;
}

button[type="submit"] {
    border-radius: 8px;
    padding: 8px 16px;
    width: 370px;
    height: 40px;

    background-color: #4e75ff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
}

button[type="submit"]:hover {
    background-color: #6c8cff;
}